body {
    background: #100e18e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Stats Area */
.gameStatArea {
    display: flex;
    
}
.gameStatArea h2  {
    margin: auto;
    width: 125px;
    border-radius: 5px;
    padding: 3px;
}
#score {
    background-color:#15ade9 ;
}

#level {
    background-color: #15ade9;
}

#lives {
    background-color: #15ade9;
}

/* Game Board Area */

#gameBoard {
    background-color: black;
}